<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="profileContainer">
      <div id="profile">
        <header>
          <!-- avator -->
          <div class="avatar">
            <img class="avatarMask" src="/img/{{ .Site.Params.avatar }}" alt="avatar">
            <img src="/img/avatar-border.svg" alt="avatar-border">
          </div>
          <!-- author -->
          <h1 class="author">{{ .Site.Params.Author }}</h1>
        </header>
        <!-- description -->
          <ul id="siteLinks">
            {{ range .Site.Menus.links }}
            <li><a href="{{ .URL }}" aria-label="{{ .Name }}">{{ .Pre }}{{ .Name}}</a></li>
            {{ end }}
          </ul>
          <!-- No Splash Image
		  <div>
			  <img src="{{ .Site.Params.SplashImage }}" alt="splash-image">
		  </div>
      -->
         <div id="homepageContent">
  			 <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
			 <p>{{.Content}}</p>
		 </div>
		 Most Recent Posts:
		 <div id="homepagePosts">
			 <ul>
				 {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
			            <li><a href="{{ .Permalink }}">{{ .Title }}</a>
			            <time>({{ .Date.Format "Jan 2, 2006" }}</time>)<BR>
				 {{ end }}
			  </ul>
		 </div>
        <!-- navigation -->
        <nav>
          <ul>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" aria-label="{{ .Name }}">{{ .Pre }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
